.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: var(--color_dark_bg);
  padding: 1rem;
  font-size: 30px;
  font-weight: 700;
  color: #ffb6c1;
}
